<!DOCTYPE html>
<html>
	<head>
		<title>socket.io-chat demo</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
		<script src="../../dependencies/jQuery-3.2.1/jquery-3.2.1.min.js"></script>
		<link href="../../dependencies/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="../../dependencies/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<link href="../../css/login.css" rel="stylesheet">
		<link href="../../css/style.css" rel="stylesheet">
		<script src="../../js/index.js"></script>
		<script src="../../js/home.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>
